:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
  }

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, button {
    font-family: "Lexend Deca", sans-serif;
}

.container {
    padding: 20px;
}

.card {
    padding: 30px;
}

h3 {
    font-family: "Big Shoulders Display", sans-serif;
    text-transform: uppercase;
    font-size: 30px;
}

p {
    font-size: 15px;
    line-height: 1.6;
}

.btn {
    background-color: #fff;
    border: 2px solid #fff;
    padding: 10px 20px;
    border-radius: 30px;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.btn:hover {
    background-color: transparent;
    color: #fff;
}

.bright-orange button {
    color: var(--bright-orange);
}

.dark-cyan button {
    color: var(--dark-cyan);
}

.very-dark-cyan button {
    color: var(--very-dark-cyan);
}

.card img {
    margin-bottom: 25px;
}

.card h3 {
    margin-bottom: 20px;
}

.card p {
    margin-bottom: 30px;
}

.card button {
    margin-bottom: 20px;
}

.bright-orange {
    background-color: var(--bright-orange);
    color: #fff;
    border-radius: 10px 10px 0 0;
}

.dark-cyan {
    background-color: var(--dark-cyan);
    color: #fff;
}

.very-dark-cyan {
    background-color: var(--very-dark-cyan);
    color: #fff;
    border-radius: 0 0 10px 10px;
}


@media (min-width : 870px) {
    .container {
        height: 100vh;
        width: 900px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        /*
        if the width of the div is defined then we
        can horizontally align the div to the center
        using margin : auto, as it will divide the
        remaining space in two equal parts.
        */
    }

    .bright-orange {
        border-radius: 10px 0 0 10px;
    }
    
    .very-dark-cyan {
        border-radius: 0 10px 10px 0;
    }

    .card {
        padding: 45px;
    }

    .card p {
        margin-bottom: 80px;
    }
}

